@import "ui-variables";
@tab-radius: 0;
@modified-icon-width: 8px;
@tab-skew: 0;
@tab-top-padding: 3px;
@tab-bottom-border-height: 6px;
@tab-border: 1px solid @tab-border-color;
.tab-bar {
    height: @tab-height + @tab-top-padding + @tab-bottom-border-height;
    padding: 0 10px;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        height: @tab-bottom-border-height;
        left: 0;
        width: 100%;
        background-color: @tab-background-color-active;
        border-bottom: 1px solid @tab-bar-border-color;
        border-top: 1px solid @tab-border-color;
    }
    .tab {
        position: relative;
        top: @tab-top-padding;
        height: @tab-height;
        line-height: @tab-height;
        color: @text-color-subtle;
        padding-left: 9px;
        margin-right: 3px;
        border-right: @tab-border;
        border-left: @tab-border;
        transition: color 0.1s ease-in;
        opacity: 0.6;
        &,
        &:before {
            background: @tab-background-color;
            border-top: @tab-border;
        }
        .close-icon {
            top: 0;
            right: 3px;
            z-index: 3;
            line-height: @tab-height;
            color: @text-color-subtle;
            &:hover {
                color: @text-color-error;
            }
        }
        &:nth-child(1) {
            div.title {
                padding-left: 9px;
            }
        }
        .icon {
            &:before {
                font-size: 12px;
            }
        }
        .title {
            -webkit-transform: skewX(-@tab-skew);
        }
        &.active {
            z-index: 1;
            line-height: @tab-height - 2px;
            color: @text-color;
            opacity: 1;
            transition: -webkit-flex 1s, opacity 0.2s ease-in-out;
            transition-delay: 0.1s;
            .title {
                position: relative;
                top: 1px;
            }
            .close-icon {
                line-height: @tab-height - 1px;
                color: @text-color;
                &:hover {
                    color: @text-color-error;
                }
            }
            &,
            &:before {
                background: @tab-background-color-active;
                height: @tab-height + 1px;
                box-shadow: none;
            }
        }
        &.modified {
            color: @text-color-modified;
            &:hover .close-icon {
                color: @text-color-modified;
            }
            .close-icon:hover {
                color: @text-color-error;
            }
            &:not(:hover) .close-icon {
                top: 8px;
                right: 8px;
                border: 4px solid @text-color-modified;
            }
        }
    }
    .placeholder {
        height: @tab-height + @tab-top-padding + @tab-bottom-border-height;
        &:after {
            top: @tab-height + @tab-top-padding + @tab-bottom-border-height;
        }
    }
}
