@import "ui-variables";

.tree-view {
    font-size: @font-size;
    background: @tree-view-background-color;

    .selected:before {
        background: @background-color-selected;
    }

    .selected > .list-item > .name,
    .selected > .list-item > .name:before,
    .selected > .name,
    .selected > .name:before {
        color: #000;
    }
}
